USE [GISPUBLIC]
GO
/****** Object:  Table [dbo].[CROWDSOURCE_NZTM_BUILDINGFOOTPRINT_ChangeLog]    Script Date: 10/04/2015 4:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROWDSOURCE_NZTM_BUILDINGFOOTPRINT_ChangeLog](
	[GlobalID] [uniqueidentifier] NOT NULL,
	[EDITID] [int] IDENTITY(1,1) NOT NULL,
	[BLD_CLASS] [int] NULL,
	[BLD_OCCUPATON] [nvarchar](50) NULL,
	[BLD_FLOORS] [smallint] NULL,
	[CAPTURE_SCALE] [numeric](38, 8) NULL,
	[GEOM_AREA] [numeric](38, 8) NULL,
	[ACCURACY_CLASS] [nvarchar](50) NULL,
	[CHANGE_BY] [nvarchar](50) NULL,
	[CHANGE_DATE] [datetime2](7) NULL,
	[SHAPE] [geometry] NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[RETURNANGLE] [numeric](38, 8) NULL,
 CONSTRAINT [PK_CROWDSOURCE_NZTM_BUILDINGFOOTPRINT_ChangeLog] PRIMARY KEY CLUSTERED 
(
	[GlobalID] ASC,
	[EDITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
