USE [GISPUBLIC]
GO
/****** Object:  Table [dbo].[CROWDSOURCE_NZTM_SCHOOLS]    Script Date: 10/04/2015 4:09:15 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CROWDSOURCE_NZTM_SCHOOLS](
	[OBJECTID] [int] NOT NULL,
	[ID] [numeric](23, 15) NULL,
	[NAME] [nvarchar](254) NULL,
	[TAGS] [nvarchar](254) NULL,
	[ADDRESS] [nvarchar](254) NULL,
	[NZTMY] [numeric](15, 6) NULL,
	[NZTMX] [numeric](15, 6) NULL,
	[Shape] [geometry] NULL,
 CONSTRAINT [R476_pk] PRIMARY KEY CLUSTERED 
(
	[OBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 75) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[CROWDSOURCE_NZTM_SCHOOLS]  WITH CHECK ADD  CONSTRAINT [g466_ck] CHECK  (([SHAPE].[STSrid]=(2193)))
GO
ALTER TABLE [dbo].[CROWDSOURCE_NZTM_SCHOOLS] CHECK CONSTRAINT [g466_ck]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF

GO
/****** Object:  Index [S466_idx]    Script Date: 10/04/2015 4:09:15 p.m. ******/
CREATE SPATIAL INDEX [S466_idx] ON [dbo].[CROWDSOURCE_NZTM_SCHOOLS]
(
	[Shape]
)USING  GEOMETRY_GRID 
WITH (BOUNDING_BOX =(1490856.4698, 5139284.192, 1596974.7758, 5206169.6287), GRIDS =(LEVEL_1 = MEDIUM,LEVEL_2 = MEDIUM,LEVEL_3 = MEDIUM,LEVEL_4 = MEDIUM), 
CELLS_PER_OBJECT = 16, PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
