<div>
    <p>To start mapping:<br/>
    <ol>
        <li>Click the <em>Start editing</em> button</li>
        <li>Click on one of the building type templates above e.g. Residential Building</li>  
        <li>Click on the map at a point on the outline of a building to start using the tool</li>
        <li>Click at each corner to create a vertex, or angle</li>
        <li>Double click to finish shape.  Note: You do not have to finish on the start point - it will automatically join up the shape for you</li>
        <li>Fill out other details about the building on the popup</li>
    </ol>
    </p>
    <p>Trust rating not high enough? Try to zoom in further when digitising.</p>
    <p>Having trouble? Watch the <a href="instructionvideo.aspx" target="_blank"> instruction video</a></p>
    <p><a href="Default.aspx"> Find out more about the project </a></p>
</div>
<h3>Legend</h3>
<!--<img src="../Content/images/Legend.png" alt="Legend" />-->
<div class="legendimage"></div>




